[submodule "DbSyncKit.Core"]
	path = DbSyncKit.Core
	url = https://github.com/DbSyncKit/DbSyncKit.Core.git
[submodule "DbSyncKit.DB"]
	path = DbSyncKit.DB
	url = https://github.com/DbSyncKit/DbSyncKit.DB.git
[submodule "DbSyncKit.MSSQL"]
	path = DbSyncKit.MSSQL
	url = https://github.com/DbSyncKit/DbSyncKit.MSSQL.git
[submodule "DbSyncKit.MySQL"]
	path = DbSyncKit.MySQL
	url = https://github.com/DbSyncKit/DbSyncKit.MySQL.git
[submodule "DbSyncKit.Templates"]
	path = DbSyncKit.Templates
	url = https://github.com/DbSyncKit/DbSyncKit.Templates.git
[submodule "DbSyncKit.PostgreSQL"]
	path = DbSyncKit.PostgreSQL
	url = https://github.com/DbSyncKit/DbSyncKit.PostgreSQL.git
[submodule "DbSyncKit.Docs"]
	path = DbSyncKit.Docs
	url = https://github.com/DbSyncKit/DbSyncKit.Docs.git
[submodule "DbSyncKit.Templates.PostgreSQL"]
	path = DbSyncKit.Templates.PostgreSQL
	url = https://github.com/DbSyncKit/DbSyncKit.Templates.PostgreSQL.git
[submodule "DbSyncKit.Templates.MSSQL"]
	path = DbSyncKit.Templates.MSSQL
	url = https://github.com/DbSyncKit/DbSyncKit.Templates.MSSQL.git
[submodule "DbSyncKit.Templates.MySQL"]
	path = DbSyncKit.Templates.MySQL
	url = https://github.com/DbSyncKit/DbSyncKit.Templates.MySQL.git
[submodule "DbSyncKit.DB.Metadata"]
	path = DbSyncKit.DB.Metadata
	url = https://github.com/DbSyncKit/DbSyncKit.DB.Metadata.git
[submodule "DbSyncKit.MSSQL.Metadata"]
	path = DbSyncKit.MSSQL.Metadata
	url = https://github.com/DbSyncKit/DbSyncKit.MSSQL.Metadata.git
[submodule "DbSyncKit.Templates.MSSQL.Metadata"]
	path = DbSyncKit.Templates.MSSQL.Metadata
	url = https://github.com/DbSyncKit/DbSyncKit.Templates.MSSQL.Metadata.git
[submodule "DbSyncKit.MySQL.Metadata"]
	path = DbSyncKit.MySQL.Metadata
	url = https://github.com/DbSyncKit/DbSyncKit.MySQL.Metadata.git
[submodule "DbSyncKit.PostgreSQL.Metadata"]
	path = DbSyncKit.PostgreSQL.Metadata
	url = https://github.com/DbSyncKit/DbSyncKit.PostgreSQL.Metadata.git
[submodule "DbSyncKit.Templates.PostgreSQL.Metadata"]
	path = DbSyncKit.Templates.PostgreSQL.Metadata
	url = https://github.com/DbSyncKit/DbSyncKit.Templates.PostgreSQL.Metadata.git
[submodule "DbSyncKit.Templates.MySQL.Metadata"]
	path = DbSyncKit.Templates.MySQL.Metadata
	url = https://github.com/DbSyncKit/DbSyncKit.Templates.MySQL.Metadata.git
[submodule "DbSyncKit.Cli"]
	path = DbSyncKit.Cli
	url = https://github.com/DbSyncKit/DbSyncKit.Cli.git
