?Title: Database Synchronization Library
NoContainer: true
NoTitle: true
---
@section Splash {
    <!-- Jumbotron -->
    <div id="hero" class="jumbotron jumbotron-fluid mb-0">
        <div class="container-xl">
            <div class="row">
                <div class=" offset-lg-2 col-12 col-lg-8">
                    <div class="display-4 text-white">Database Synchronization Library</div>
                    <p class="lead text-white">It is designed to streamline and simplify the process of data synchronization across multiple database platforms.</p>
                    <a href="xref:guide" class="btn btn-primary btn-lg mt-3">Get Started</a>
                </div>
            </div>
        </div>
    </div>
}


<!-- Overview Section -->
<section id="overview" class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <div class="text-center">
                    <h2 class="mb-4">Overview</h2>
                    <p class="lead">DbSyncKit is a comprehensive suite of packages crafted to enhance the efficiency and speed of data synchronization operations. Whether you're working with Microsoft SQL Server, MySQL, or other database systems, DbSyncKit provides a set of tools, utilities, and interfaces to make your synchronization tasks fast and efficient.</p>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <img src="/assets/db.png" class="img-fluid mx-auto" alt="Database Image">
            </div>
        </div>
    </div>
</section>




<!-- Features Section -->
<section id="features" class="bg-light my-5 py-4" style="background-color: #f8f9fa;">
    <div class="container">
        <h2 class="text-center mb-4">Key Features</h2>
        <div class="row">

            <!-- Feature 1 -->
            <div class="col-md-4 mb-4">
                <div class="card text-center">
                    <div class="card-body">
                        <i class="fas fa-clock fa-3x mb-3 text-primary"></i>
                        <h4 class="card-title text-primary">Efficient Synchronization</h4>
                        <p class="card-text">DbSyncKit is built for speed and efficiency, ensuring your data synchronization tasks are completed swiftly.</p>
                    </div>
                </div>
            </div>

            <!-- Feature 2 -->
            <div class="col-md-4 mb-4">
                <div class="card text-center">
                    <div class="card-body">
                        <i class="fas fa-layer-group fa-3x mb-3 text-success"></i>
                        <h4 class="card-title text-success">Platform Compatibility</h4>
                        <p class="card-text">With support for multiple database platforms, DbSyncKit offers a flexible solution for diverse database environments.</p>
                    </div>
                </div>
            </div>

            <!-- Feature 3 -->
            <div class="col-md-4 mb-4">
                <div class="card text-center">
                    <div class="card-body">
                        <i class="fas fa-toolbox fa-3x mb-3 text-warning"></i>
                        <h4 class="card-title text-warning">Comprehensive Toolset</h4>
                        <p class="card-text">From core functionalities to specialized packages for MSSQL and MySQL, DbSyncKit provides a comprehensive toolset for all your synchronization needs.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>





<!-- Packages Section -->
<section id="packages" class="my-5">
    <div class="container">
        <h2 class="text-center mb-4">Packages</h2>
        <p class="lead text-center">Explore the individual packages within DbSyncKit:</p>
        <div class="row">
            <div class="col">
                <div class="card text-center">
                    <div class="card-body">
                        <i class="fas fa-cube fa-3x mb-3 text-primary"></i>
                        <h4 class="card-title"><a href="xref:packages/DbSyncKit.Core">DbSyncKit.Core</a></h4>
                        <p class="card-text">The core functionality of the synchronization library.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <i class="fas fa-database fa-3x mb-3 text-primary"></i>
                        <h4 class="card-title"><a href="xref:packages/DbSyncKit.DB">DbSyncKit.DB</a></h4>
                        <p class="card-text">Foundational package defining interfaces and contracts for consistent database interactions.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card text-center">
                    <div class="card-body">
                        <i class="fas fa-server fa-3x mb-3 text-primary"></i>
                        <h4 class="card-title"><a href="xref:providers">Database Providers</a></h4>
                        <p class="card-text">Specialized functionalities for Microsoft SQL Server and MySQL databases. Other providers like PostgreSQL will be available soon!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<!-- Why DbSyncKit Section -->
<section id="why-dbsynckit" class="bg-light py-5">
    <div class="container">
        <h2 class="text-center mb-4">Why DbSyncKit?</h2>
        <div class="row">
            <div class="col-md-4 text-center">
                <i class="fas fa-tachometer-alt fa-3x mb-3"></i>
                <h4>Speed</h4>
                <p>DbSyncKit is designed for performance, ensuring your synchronization processes run quickly and efficiently.</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fas fa-cogs fa-3x mb-3"></i>
                <h4>Flexibility</h4>
                <p>With support for various database platforms, DbSyncKit adapts to your specific environment.</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fas fa-users fa-3x mb-3"></i>
                <h4>Ease of Use</h4>
                <p>Whether you're a seasoned developer or just getting started, DbSyncKit's comprehensive toolset makes data synchronization accessible to all.</p>
            </div>
        </div>
    </div>
</section>



<!-- How Fast Section -->
<section id="how-fast" class="bg-primary text-white py-5">
    <div class="container">
        <h2 class="text-center text-white mb-4">How Fast is DbSyncKit?</h2>
        <p class="lead text-center">DbSyncKit prides itself on being a fast and efficient solution for database synchronization. Check out our</p>
        <div class="text-center">
            <a href="xref:performance" class="btn btn-light btn-lg mt-3 text-primary">Performance</a>
        </div>
    </div>
</section>


